{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block conteudo %}

<h1>PÁGINA DE LOGIN</h1>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" name="button"> Autenticar </button>
</form>

{% endblock conteudo %}

<!--
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. -->
