body{
  margin: 0;
  padding: 0;
}
.nave{
  font-family: "PURISA";
  font-weight: 1000
}
header{
  position:absolute;
  top: 0;
  left: 0;
  padding: 0 100px;
  background: rgb(20,160,100);
  width: 100%;
  box-sizing: border-box;
}

header .logo{
  color: white;
  height: 100px;
  line-height: 100px;
  font-size: 24px;
  float: left;
  font-weight: 1000
}

header nav{
  float: right;
}

header nav ul{
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li{
  list-style: none;
}

header nav ul li a{
  height: 100px;
  line-height: 100px;
  padding: 0 20px;
  color: white;
  text-decoration: none;
  display: block;
}

header nav ul li a:hover,
header nav ul li a.active
{
  color: white;
  background: rgba(190,35,190,0.7);
}

.menu-toggle{
  color: white;
  float: right;
  line-height: 100px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

@media (max-width:991px)
{
  header
  {
    padding: 0 20px;
  }
  .menu-toggle
  {
    display: block;
  }
  header nav
  {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: calc(100vh-50px);
    background: rgb(25,140,90);
    top: 50px;
    left: -100%;
    transition: 0.5s;
  }
  header nav.active
  {
    left: 0;
  }
  header nav ul
  {
    display: block;
    text-align: center;
  }
  header nav ul li a
  {
    border-bottom: 1px solid rgb(30,90,60)
  }
}

.paddingImg {
  padding-bottom: 2;

}