{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block conteudo %}

<style type="text/css">

.fonte2 {
	font-family: 'Chilanka';
	font-size: 25px;
	font-weight: 600;
	font-style: italic;
	color: white;
	padding-top: 50px;
}

.botao {
	text-align: center;
	position: relative;
	border: double;
	border-radius: 15px;
	padding: 15px;
	color: white;
	background-color: rgb(20,160,100);
	font-size: 20px;
	font-family: 'Chilanka';
	font-weight: 900;
	transition: 0.5s
}

.caixaText {
	border-radius: 20px;
	border-color: rgb(20,160,100);
	border-style:solid;
	border-width:medium;
	text-align: center;
	color: rgb(20,160,100);
}

.caixaText:focus{
	padding-left: 30px;
	padding-right: 30px;
	transition: 0.5s
}


</style>



<h1 class="fonte">Cadastrar Recheio</h1>
<form method="post" enctype="multipart/form-data">

{% csrf_token %}

<div class="center">
<p class="fonte2"> Nome: {{ form.nome | add_class:"caixaText" }}</p>
<p class="fonte2"> Foto: {{ form.foto | add_class:"caixaText" }}</p>
</div>

<div class="">
	<p><button type="submit" class="botao">Salvar</button></p>
</div>

<p class=""></p>



{% endblock conteudo %}
