{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% block conteudo %}

<style type="text/css">
	
.fonte3 {
	font-family: "Chilanka";
	color: white;
	font-weight: 1000;
}

ul.circle {
	list-style-type:circle;

}

.fonte4 {
	font-family: "Chilanka";
	color: white;
	font-weight: 1000;
	font-size: 20px;	
}

.margin {
	margin-top: 400px; 
}

</style>



<h1 class="fonte"> Produtos Cadastrados </h1>

<div class="row">
	<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xg-4">
		{% if cardapio_listar %}
		<h1 class="fonte3"> Açaís </h1>
		{% endif %}

		{% for cardapio in cardapio_listar %}

		<img src="/media/{{ cardapio.foto }}" alt="Imagem" width="150px" height="200px">

		<ul class="circle">
		
		<li class="fonte4">{{ cardapio.nome }}</li>
		
		<li class="fonte4">{{ cardapio.preco }} <a href="{% url 'cardapio_atualizar' cardapio.id %}"><button type="button" class="estilo1">Editar</button>
		</a> <a href="{% url 'cardapio_remover' cardapio.id %}"><button type="button" class="estilo1">Excluir</button>
		</a>
		</li>
		
		<li class="fonte4">{{ cardapio.quantidade }}</li>
		<li class="fonte4">{{ cardapio.descrição }}</li>
		</ul>

		{% empty %}

		<h2 class="fonte3"> Nenhum açaí cadastrado </h2>

		{% endfor %}



		{% if recheio_listar %}
		<h1 class="fonte3"> Recheios </h1>
		{% endif %}

		{% for recheio in recheio_listar %}

		<img src="/recheio/{{ recheio.foto }}" alt="Imagem" width="150px" height="200px">

		<ul class="circle">
		
		<li class="fonte4">{{ recheio.nome }}</li>
		
		<li class="fonte4"><a href="{% url 'recheio_atualizar' recheio.id %}"><button type="button" class="estilo1">Editar</button>
		</a> <a href="{% url 'recheio_remover' recheio.id %}"><button type="button" class="estilo1">Excluir</button>
		</a>
		</li>
		
		</ul>

		{% empty %}

		<h2 class="fonte3"> Nenhum recheio cadastrado </h2>

		{% endfor %}



		{% if creme_listar %}
		<h1 class="fonte3"> Cremes </h1>
		{% endif %}

		{% for creme in creme_listar %}

		<img src="/media/{{ creme.foto }}" alt="Imagem" width="150px" height="200px">

		<ul class="circle">
		
		<li class="fonte4">{{ creme.nome }}</li>
		
		<li class="fonte4"> <a href="{% url 'creme_atualizar' creme.id %}"><button type="button" class="estilo1">Editar</button>
		</a> <a href="{% url 'creme_remover' creme.id %}"><button type="button" class="estilo1">Excluir</button>
		</a>
		</li>
	
		</ul>

		{% empty %}

		<h2 class="fonte3"> Nenhum creme cadastrado </h2>

		{% endfor %}

	</div>
</div>

<div class="row">
	<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xg-6">
		
	</div>
</div>

<p class="margin"></p>


{% endblock conteudo %}	