{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% block conteudo %}

<style type="text/css">
	
.fonte3 {
	font-family: "Chilanka";
	color: white;
	font-weight: 1000;
}

ul.circle {
	list-style-type:circle;

}

.fonte4 {
	font-family: "Chilanka";
	color: white;
	font-weight: 1000;
	font-size: 25px;	
}

.borda{
	border-bottom: ridge;
	border-color: white;
}

.estilo{
	text-align: center;
	padding: 10px;
	background-color: rgb(20,160,100);
	border: double;
	border-radius: 20px;
	font-family: "Chilanka";
	font-weight: bold;
	font-size: 20px;
	color: white;
	transition: 0.5s;
	margin-left: 700px;
	margin-bottom: 5px;
}

.estilo:hover{
	background-color: rgb(20,160,100);
	font-size: 25px;
	font-weight: bolder;
	transition: 0.5s
}

</style>


<h1 class="fonte"> Cadastro de Produtos </h1>
<h2 class="fonte3"> Categorias </h2>

<ul class="circle">
	<li class="fonte4 borda"> Açaís <a href="{% url 'cardapio_cadastrar' %}"><button type="button" class="estilo">Cadastrar Açaí</button>
	</a>
	</li>
	
	<li class="fonte4 borda"> Recheios <a href="{% url 'cadastrar_recheio' %}"><button type="button" class="estilo">Cadastrar Recheio</button>
	</a>
	</li>

	<li class="fonte4 borda"> Coberturas <a href="{% url 'cadastrar_recheio' %}"><button type="button" class="estilo">Cadastrar Cobertura</button>
	</a>
	</li>
	
	<li class="fonte4 borda"> Cremes <a href="{% url 'cardastrar_recheio' %}"><button type="button" class="estilo">Cadastrar Creme</button>
	</a></li>
	
	<li class="fonte4 borda"> Adicionais <a href="{% url 'cardapio_recheio' %}"><button type="button" class="estilo">Cadastrar Adicionais</button>
	</a>
</li>
</ul>





{% endblock conteudo %}	
