{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% block conteudo %}

<style type="text/css">

.fonte3 {
	font-family: "Chilanka";
	color: white;
	font-weight: 1000;
}

ul.circle {
	list-style-type:circle;

}

.fonte4 {
	font-family: "Chilanka";
	color: white;
	font-weight: 1000;
	font-size: 20px;
}

.margin {
	margin-top: 400px;
}

</style>



<h1 class="fonte"> Produtos Cadastrados </h1>

<!-- INÍCIO DA LISTAGEM DE AÇAÍS -->

<div class="row">
	<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xg-4">
		{% if cardapio_listar %}
		<h1 class="fonte3"> Açaís </h1>
		{% endif %}

		{% for cardapio in cardapio_listar %}

		<img src="/media/{{ cardapio.foto }}" alt="Imagem" width="150px" height="200px">

		<ul class="circle">

			<li class="fonte4">{{ cardapio.nome }}</li>

			<li class="fonte4">{{ cardapio.preco }} <a href="{% url 'cardapio_atualizar' cardapio.id %}"><button type="button" class="estilo1">Editar</button>
			</a> <a href="{% url 'cardapio_remover' cardapio.id %}"><button type="button" class="estilo1">Excluir</button>
			</a>
		</li>

		<li class="fonte4">{{ cardapio.quantidade }}</li>
		<li class="fonte4">{{ cardapio.descrição }}</li>
	</ul>

	{% empty %}

	<h2 class="fonte3"> Nenhum açaí cadastrado </h2>

	{% endfor %}

</div>


<!-- INÍCIO DA LISTAGEM DE RECHEIOS -->
<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xg-4">
{% if recheio %}
<h1 class="fonte3"> Recheios </h1>
{% endif %}
{% for recheios in recheio %}
<img src="/media/{{ recheios.foto }}" alt="Imagem" width="200px" height="150px">
<ul class="circle">
	<li class="fonte4">{{ recheios.nome }}</li>
	<li class="fonte4">
		<a href="{% url 'recheio_atualizar' recheios.id %}">
			<button type="button" class="estilo1">Editar</button>
		</a>
		<a href="{% url 'recheio_remover' recheios.id %}">
			<button type="button" class="estilo1">Excluir</button>
		</a>
	</li>
</ul>
{% empty %}
<h2 class="fonte3"> Nenhum recheio cadastrado </h2>
{% endfor %}
</div>

<!-- INÍCIO DA LISTAGEM DE CREMES -->
<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xg-4">
{% if creme %}
<h1 class="fonte3"> Cremes </h1>
{% endif %}
{% for cremes in creme %}
<img src="/media/{{ cremes.foto }}" alt="Imagem" width="150px" height="200px">
<ul class="circle">
	<li class="fonte4">{{ cremes.nome }}</li>
	<li class="fonte4">
		<a href="{% url 'creme_atualizar' cremes.id %}">
			<button type="button" class="estilo1">Editar</button>
		</a>
		<a href="{% url 'creme_remover' cremes.id %}">
			<button type="button" class="estilo1">Excluir</button>
		</a>
	</li>
</ul>
{% empty %}
<h2 class="fonte3"> Nenhum creme cadastrado </h2>
{% endfor %}
</div>
</div>

<!-- INÍCIO DA LISTAGEM DE COBERTURAS -->

<div class="row">
	<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xg-6">
		{% if cobertura %}
		<h1 class="fonte3"> Açaís </h1>
		{% endif %}

		{% for coberturas in cobertura %}

		<img src="/media/{{ coberturas.foto }}" alt="Imagem" width="150px" height="200px">

		<ul class="circle">

			<li class="fonte4">{{ coberturas.nome }}</li>

			<li class="fonte4"><a href="{% url 'cobertura_atualizar' coberturas.id %}"><button type="button" class="estilo1">Editar</button>
			</a> <a href="{% url 'cobertura_remover' coberturas.id %}"><button type="button" class="estilo1">Excluir</button>
			</a>
		</li>
	</ul>

	{% empty %}

	<h2 class="fonte3"> Nenhuma cobertura cadastrada </h2>

	{% endfor %}

</div>


<!-- INÍCIO DA LISTAGEM DE ADICIONAIS -->

	<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xg-6">
		{% if adicional %}
		<h1 class="fonte3"> Adicional </h1>
		{% endif %}

		{% for adicional in adicional %}

		<img src="/media/{{ adicional.foto }}" alt="Imagem" width="150px" height="200px">

		<ul class="circle">

			<li class="fonte4">{{ adicional.nome }}</li>

			<li class="fonte4"><a href="{% url 'adicional_atualizar' adicional.id %}"><button type="button" class="estilo1">Editar</button>
			</a> <a href="{% url 'adicional_remover' adicional.id %}"><button type="button" class="estilo1">Excluir</button>
			</a>
		</li>
		<li class="fonte4">{{ adicional.preco }}</li>
	</ul>

	{% empty %}

	<h2 class="fonte3"> Nenhum adicional cadastrado </h2>

	{% endfor %}
</div>
</div>


<p class="margin"></p>


{% endblock conteudo %}
