{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% block conteudo %}

<style type="text/css">
/* INÍCIO DO CARD */
.imgCard {
	height: 100%;
	width: 200px;
	margin-left: 100px;
	margin-top: 25px
}
.margemEsquerda{ margin-left: 100px }
.margemTopoCard{ margin-top: 25px; margin-left: -115px}

.card{
	cursor: pointer;
	width: 400px;
	height: 250px;
	background: rgb(25,140,90);
	shape-outside: border-box;
	border: none;
}

.frenteCard, .costaCard{
	width: 100%;
	height: 100%;
	overflow: hidden;
	backface-visibility: hidden;
	position: absolute;
	transition: transform.5s linear;
}

.card:hover > .frenteCard {transform: perspective(600px) rotateY(-180deg);}
.card:hover > .costaCard {transform: perspective(600px) rotateY(0deg);}

.frenteCard { transform: perspective(600px) rotateY(0deg); }
.costaCard { transform: perspective(600px) rotateY(180deg); }

.costaCard-content {
	text-align: center;
}
/* FIM DO CARD */

.fonte3 {
	font-family: "Chilanka";
	color: white;
	font-weight: 1000;
	font-size: 25px;
	text-align: center;
}

ul.circle {
	list-style-type:circle;

}

.fonte4 {
	font-family: "Chilanka";
	color: white;
	font-weight: 1000;
	font-size: 20px;
}

.margin {
	margin-top: 400px;
}

.centralizar {
	float: left;
	margin: 5px 30px 20px 0px;

}

.centralizar2 {
	margin-top: 35px
}

.centralizar3 {
	float: right;
}

.estilo1{
	text-align: center;
	padding: 10px;
	background-color: rgb(20,160,100);
	border: double;
	border-radius: 20px;
	font-family: "Chilanka";
	font-weight: bold;
	font-size: 20px;
	color: white;
	transition: 0.5s;
	margin-bottom: 5px;
	margin-left: 40px
}

.estilo1:hover{
	background-color: rgb(20,160,100);
	font-size: 25px;
	font-weight: bolder;
	transition: 0.5s
}

.estilo2:hover{
	background-color: rgb(20,160,100);
	font-size: 25px;
	font-weight: bolder;
	transition: 0.5s
}

.estilo2{
	text-align: center;
	padding: 10px;
	background-color: rgb(20,160,100);
	border: double;
	border-radius: 20px;
	font-family: "Chilanka";
	font-weight: bold;
	font-size: 20px;
	color: white;
	transition: 0.5s;
	margin-bottom: 5px;
	margin-top: 5px;
}

.fonte4 {
	font-family: "Chilanka";
	color: white;
	font-weight: 1000;
	font-size: 25px;
}

.distancia {
	margin-left: 90px
}

#customers {
	font-family: "Chilanka";
	border-collapse: collapse;
	width: 100%;
}

#customers td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

#customers tr:nth-child(even){background-color: rgb(20,160,100);}

#customers tr:hover {background-color: #ddd;}

#customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}

</style>



<h1 class="fonte"> Produtos Cadastrados </h1>

<!-- INÍCIO DA LISTAGEM DE AÇAÍS -->

<div class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xg-12 centralizar">

		<div class="row">
			<div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xg-3">
				<p class="fonte3">Açaís</p> </th>
				{% for cardapio in cardapio_listar %}
				<div class="card">
					<div class="frenteCard margemTopo2">
						<p class="centralizado">
							<p class="centralizar"><img src="/media/{{ cardapio.foto }}" alt="Imagem" class="imgCard">
							</p>
						</div>
						<div class="costaCard margemTopo">
							<div class="costaCard-content">
								<ul class="circle">
									<li class="fonte4 centralizar2">{{ cardapio.nome }}</li>
									<li class="fonte4">Quantidade: {{ cardapio.quantidade }}</li>
									<li class="fonte4">Descrição: {{ cardapio.descrição }}</li>
									<li class="fonte4"> Preço: R${{ cardapio.preco }}</li>
									<a href="{% url 'cardapio_atualizar' cardapio.id %}">
										<button type="button" class="estilo1">Editar</button>
									</a>
									<a href="{% url 'cardapio_remover' cardapio.id %}">
										<button type="button" class="estilo1">Excluir</button>
									</a>
								</ul>
							</div>
						</div>
					</div>
					<br>
					{% empty %}
					<p class="fonte3"> Nenhum açaí cadastrado </p>
					{% endfor %}
				</div>
				{# ### FIM DA LISTAGEM DE AÇAÍS ### #}

				{# ### INÍCIO DA LISTAGEM DE RECHEIOS ### #}
				<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xg-4 margemTopo2">
					<p class="fonte3 margemEsquerda">Recheios</p> </th>
					{% for recheio in recheio %}
					<div class="card margemEsquerda">
						<div class="frenteCard margemTopo2">
							<p class="centralizado">
								<p class="centralizar"><img src="/media/{{ recheio.foto }}" alt="Imagem" class="imgCard">
								</p>
							</div>

							<div class="costaCard margemTopo">
								<div class="costaCard-content">
									<ul class="circle">
										<li class="fonte4 centralizar2">{{ recheio.nome }}</li>
										<li class="fonte4">Quantidade: {{ recheio.quantidade }}</li>
										<li class="fonte4">Descrição: {{ recheio.descrição }}</li>
										<li class="fonte4"> Preço: R${{ recheio.preco }}</li>
										<a href="{% url 'recheio_atualizar' recheio.id %}">
											<button type="button" class="estilo1">Editar</button>
										</a>
										<a href="{% url 'recheio_remover' recheio.id %}">
											<button type="button" class="estilo1">Excluir</button>
										</a>
									</ul>
								</div>
							</div>
						</div>
						<br>
						{% empty %}
						<p class="fonte3"> Nenhum açaí cadastrado </p>
						{% endfor %}
					</div>
					{# ### FIM DA LISTAGEM DE RECHEIOS ### #}

					{# ### INÍCIO DA LISTAGEM DE COBERTURAS ### #}
					<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xg4 margemTopo2">
						<p class="fonte3 margemEsquerda">Coberturas</p> </th>
						{% for cobertura in cobertura %}
						<div class="card margemEsquerda">
							<div class="frenteCard margemTopo2">
								<p class="centralizado">
									<p class="centralizar"><img src="/media/{{ cobertura.foto }}" alt="Imagem" class="imgCard">
									</p>
								</div>
								<div class="costaCard margemTopo">
									<div class="costaCard-content">
										<ul class="circle">
											<li class="fonte4 centralizar2">{{ cobertura.nome }}</li>
											<li class="fonte4">Quantidade: {{ cobertura.quantidade }}</li>
											<li class="fonte4">Descrição: {{ cobertura.descrição }}</li>
											<li class="fonte4"> Preço: R${{ cobertura.preco }}</li>
											<a href="{% url 'cobertura_atualizar' cobertura.id %}">
												<button type="button" class="estilo1">Editar</button>
											</a>
											<a href="{% url 'cobertura_remover' cobertura.id %}">
												<button type="button" class="estilo1">Excluir</button>
											</a>
										</ul>
									</div>
								</div>
							</div>
							<br>
							{% empty %}
							<p class="fonte3"> Nenhum açaí cadastrado </p>
							{% endfor %}
						</div>
						{# ### FIM DA LISTAGEM DE COBERTURAS ### #}
					</div>


					<div class="row">
						{# ### INÍCIO DA LISTAGEM DE CREMES ### #}
						<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xg-6 margemTopo2">
							<p class="fonte3 margemEsquerda">Cremes</p> </th>
							{% for creme in creme %}
							<div class="card margemEsquerda">
								<div class="frenteCard margemTopo2">
									<p class="centralizado">
										<p class="centralizar"><img src="/media/{{ creme.foto }}" alt="Imagem" class="imgCard">
										</p>
									</div>
									<div class="costaCard margemTopo">
										<div class="costaCard-content">
											<ul class="circle">
												<li class="fonte4 centralizar2">{{ creme.nome }}</li>
												<li class="fonte4">Quantidade: {{ creme.quantidade }}</li>
												<li class="fonte4">Descrição: {{ creme.descrição }}</li>
												<li class="fonte4"> Preço: R${{ creme.preco }}</li>
												<a href="{% url 'creme_atualizar' creme.id %}">
													<button type="button" class="estilo1">Editar</button>
												</a>
												<a href="{% url 'creme_remover' creme.id %}">
													<button type="button" class="estilo1">Excluir</button>
												</a>
											</ul>
										</div>
									</div>
								</div>
								<br>
								{% empty %}
								<p class="fonte3"> Nenhum açaí cadastrado </p>
								{% endfor %}
							</div>
							{# ### FIM DA LISTAGEM DE CREMES ### #}

							{# ### INÍCIO DA LISTAGEM DE ADICIONAIS ### #}
							<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xg-6 margemTopo2">
								<p class="fonte3 margemEsquerda">Adicionais</p> </th>
								{% for adicional in adicional %}
								<div class="card margemEsquerda">
									<div class="frenteCard margemTopo2">
										<p class="centralizado">
											<p class="centralizar"><img src="/media/{{ adicional.foto }}" alt="Imagem" class="imgCard">
											</p>
										</div>
										<div class="costaCard margemTopo">
											<div class="costaCard-content">
												<ul class="circle">
													<li class="fonte4 centralizar2">{{ adicional.nome }}</li>
													<li class="fonte4">Quantidade: {{ adicional.quantidade }}</li>
													<li class="fonte4">Descrição: {{ adicional.descrição }}</li>
													<li class="fonte4"> Preço: R${{ adicional.preco }}</li>
													<a href="{% url 'adicional_atualizar' adicional.id %}">
														<button type="button" class="estilo1">Editar</button>
													</a>
													<a href="{% url 'adicional_remover' adicional.id %}">
														<button type="button" class="estilo1">Excluir</button>
													</a>
												</ul>
											</div>
										</div>
									</div>
									<br>
									{% empty %}
									<p class="fonte3"> Nenhum açaí cadastrado </p>
									{% endfor %}
								</div>
								{# ### FIM DA LISTAGEM DE CREMES ### #}
							</div>


						</div>
					</div>

					<p class="margin"></p>


					{% endblock conteudo %}
